<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
    <div id="cookies-eu-banner" style="display: none;">
        By continuing your visit to this site, you accept the use of cookies by Google Analytics to gather visitor statistics.
        <a href="./privacy" id="cookies-eu-more">Read more</a>
        <button id="cookies-eu-reject">Reject</button>
        <button id="cookies-eu-accept">Accept</button>
    </div>
    
  <div class="wrapper">
  
    {{ content }}
  </div>
  
  {% include analytics.html %}
</body>
</html>
